
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

    <ol>
        <li>
            Bilim  <br />
            Kişisel  <br />
            Pazarlama  <br />
            Sanat  <br />
            Edebiyat  <br />
            Sağlık   <br />
            Psikoloji  <br />
            Sosyal Medya  <br />
            Eğitim  <br />
            Siyaset  <br />
            Spor  <br />
            Teknoloji  <br />
        </li>
 </ol>


<h2>Kategoriler</h2>

